<footer class="footer-sigerd">

    <span class="copyright-sigerd">
        © @DateTime.Now.Year SIGERD - Sistema de Gestión de Recursos y Distribución
    </span>

    <span class="version">
        Versión 1.0.0
    </span>

</footer>