<nav class="navbar-sigerd">

    <div class="navbar-left">

        <h4 class="m-0">
            Sistema de Gestión de Recursos y Distribución
        </h4>

    </div>

    <div class="navbar-right">

        <span class="user-name">

            <i class="bi bi-person-circle"></i>

            Jordys

        </span>

        <a href="#" class="logout">

            <i class="bi bi-box-arrow-right"></i>

            Salir

        </a>

    </div>

</nav>